<div
  class="flex flex-col sm:flex-row gap-3 justify-around items-center mb-10 sm:mb-24 p-3"
>
  <img
    src="../../../assets/yellow-truck.svg"
    alt="yellow-truck"
    class="w-full sm:w-2/5"
  />
  <div class="flex flex-col gap-3 text-end items-end w-full sm:w-2/5">
    <h3 class="text-2xl sm:text-4xl font-bold text-primary underline">
      TRUCK PARKING ECOSYSTEM
    </h3>
    <p class="text-lg sm:text-xl">REINVENT THE PARKING EXPERIENCE</p>
    <p class="text-base sm:text-lg">
      Every year, 400,000 new trucks hit Indian roads, carrying goods worth $200
      billion. This surge results in over 57,000 crashes and 15,000 driver
      fatalities annually, as drivers struggle to find parking. Halt-O offers a
      solution with fast, secure parking, ensuring both vehicle and driver
      safety. Choose Halt-O for stress-free trucking!
    </p>
    <button class="bg-primary text-white px-3 py-1 rounded-md">
      Read More
    </button>
  </div>
</div>
