<div class="flex justify-around items-center mb-24">
  <img src="../../../assets/yellow-truck.svg" alt="yellow-truck" class="" />
  <div class="flex flex-col gap-3 text-end items-end w-2/5">
    <h3 class="text-4xl font-bold text-primary underline">
      TRUCK PARKING ECOSYSTEM
    </h3>
    <p class="text-xl">REINVENT THE PARKING EXPERIENCE</p>
    <p class="text-lg">
      Every year, 400,000 new trucks hit Indian roads, carrying goods worth $200
      billion. This surge results in over 57,000 crashes and 15,000 driver
      fatalities annually, as drivers struggle to find parking. Halt-O offers a
      solution with fast, secure parking, ensuring both vehicle and driver
      safety. Choose Halt-O for stress-free trucking!
    </p>
    <button class="bg-primary text-white py-1 w-1/5">Read More</button>
  </div>
</div>
