<div
  class="w-full sm:w-5/6 p-3 mx-auto flex flex-col items-center gap-8 mb-10 sm:mb-24"
>
  <h3 class="text-2xl sm:text-5xl underline decoration-primary">
    Revolutionizing the Parking Experience
  </h3>

  <div
    class="flex flex-col justify-center items-center text-base sm:text-xl sm:flex-row gap-5"
  >
    <img src="../../../assets/Object.png" alt="truck" class="w-4/5 sm:w-2/5" />
    <p>
      At Halt-O, we're transforming parking into a hassle-free experience for
      everyone. Whether you own parking spaces or need a spot in a busy area,
      our platform seamlessly connects supply with demand. For parking lot
      owners, we offer an effortless way to list and monetize your spaces, while
      drivers enjoy the convenience of finding secure parking even in the most
      congested areas. We're especially committed to addressing the unique
      challenges faced by truck drivers, providing them with secure parking and
      rest facilities to ensure safety, reduce fatigue, and prevent theft. With
      Halt-O, parking isn't just simplified—it's smart, safe, and designed with
      your needs in mind.
    </p>
  </div>
</div>
