<div class="w-4/5 mx-auto flex flex-col items-center gap-8">
  <h3 class="text-5xl underline decoration-primary">TRUCK PARKING ECOSYSTEM</h3>

  <ul class="list-disc text-xl flex flex-col gap-5">
    <li>
      Every year 4 lakh new trucks getting into the logistics market seeking for
      parking space. The estimated value of the goods carried by the trucks on
      Indian roads is $ 200Bn.  Over 57,000 truck crashes and 15,000 drivers are
      killed on road accidents every year.  Truck drivers often have to try
      several lots before they can find somewhere to park. The result is
      frustration, fatigue, improper sleep, robbery, insecurity over vehicle
      protection.
    </li>
    <li>
      Halt-O truck parking ecosystem reduces truck drivers’ job-related risks in
      several ways. It not only makes finding a parking space easy, but also
      dissuade robbers from stealing the freight.
    </li>
    <li>
      Interconnected system of resources and services available for truck
      drivers to park their vehicles during long trips. This ecosystem includes
      truck stops, rest areas, private parking lots, and other parking
      facilities, as well as the technologies and services that support them,
      such as truck parking reservation systems, parking information management
      systems, and parking space prediction systems.
    </li>
    <li>
      One major challenge in the truck parking ecosystem is the shortage of safe
      and convenient parking options for truck drivers, which can lead to
      truckers parking on the side of the road, causing hazards for other
      drivers. To address this issue, Halt-O is offering advanced amenities such
      as showers, fuel, and food services, to improve the overall trucking
      experience.
    </li>
    <li>
      Additionally, the development of new technologies, such as real-time
      parking availability information systems, parking reservation systems, and
      predictive parking algorithms, to truckers/drivers to more efficiently
      plan their trips and find suitable parking options along the way. Also
      improving the overall management and utilization of truck parking
      resources, reducing congestion and improving safety for everyone on the
      road.
    </li>
    <li>
      Overall, the truck parking ecosystem is constantly evolving, driven by the
      need to meet the increasing demands of the trucking industry and improve
      the safety and convenience of truck drivers on the road.
    </li>
    <svg
      class="absolute right-0 mt-64"
      width="597"
      height="285"
      viewBox="0 0 597 285"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g opacity="0.2">
        <path
          d="M136.101 235.9V206.38H77.4207L65.7207 242.56V258.04H726.681V235.9H136.101Z"
          fill="#5C5C5C"
        />
        <path
          d="M759.26 0.100098H136.1V235.9H759.26V0.100098Z"
          fill="#CFCFCF"
        />
        <path
          d="M232.22 284.5C250.511 284.5 265.34 269.672 265.34 251.38C265.34 233.089 250.511 218.26 232.22 218.26C213.928 218.26 199.1 233.089 199.1 251.38C199.1 269.672 213.928 284.5 232.22 284.5Z"
          fill="#3D3D3D"
        />
        <path
          d="M232.22 267.76C241.266 267.76 248.6 260.426 248.6 251.38C248.6 242.334 241.266 235 232.22 235C223.173 235 215.84 242.334 215.84 251.38C215.84 260.426 223.173 267.76 232.22 267.76Z"
          fill="#7A7A7A"
        />
        <path
          d="M556.04 284.5C574.332 284.5 589.16 269.672 589.16 251.38C589.16 233.089 574.332 218.26 556.04 218.26C537.748 218.26 522.92 233.089 522.92 251.38C522.92 269.672 537.748 284.5 556.04 284.5Z"
          fill="#3D3D3D"
        />
        <path
          d="M556.04 267.76C565.087 267.76 572.42 260.426 572.42 251.38C572.42 242.334 565.087 235 556.04 235C546.994 235 539.66 242.334 539.66 251.38C539.66 260.426 546.994 267.76 556.04 267.76Z"
          fill="#7A7A7A"
        />
        <path
          d="M98.8407 284.5C117.132 284.5 131.961 269.672 131.961 251.38C131.961 233.089 117.132 218.26 98.8407 218.26C80.549 218.26 65.7207 233.089 65.7207 251.38C65.7207 269.672 80.549 284.5 98.8407 284.5Z"
          fill="#3D3D3D"
        />
        <path
          d="M98.841 267.76C107.887 267.76 115.221 260.426 115.221 251.38C115.221 242.334 107.887 235 98.841 235C89.7945 235 82.4609 242.334 82.4609 251.38C82.4609 260.426 89.7945 267.76 98.841 267.76Z"
          fill="#7A7A7A"
        />
        <path
          d="M136.1 31.9602H36.5602L0.740234 141.4V248.86H63.5602V248.68L63.7402 248.86L77.4202 206.38H136.1V31.9602Z"
          fill="#A1A1A1"
        />
        <path
          d="M110.181 63.1001H45.7411V64.3601L26.1211 122.68L46.6411 117.46H110.181V63.1001Z"
          fill="#79B5B5"
          stroke="#405E5E"
          stroke-width="3"
          stroke-miterlimit="10"
        />
      </g>
    </svg>
  </ul>
</div>
