<div
  class="w-full sm:w-5/6 p-3 mx-auto flex flex-col items-center gap-8 mb-10 sm:mb-24"
>
  <h3 class="text-2xl sm:text-5xl underline decoration-primary">
    TRUCK PARKING ECOSYSTEM
  </h3>

  <ul class="text-base sm:text-xl flex flex-col gap-5">
    <div class="flex flex-col justify-center items-center sm:flex-row gap-5">
      <img
        src="../../../assets/Object.png"
        alt="truck"
        class="w-4/5 sm:w-2/5"
      />
      <div class="flex flex-col gap-5">
        <li>
          Every year 4 lakh new trucks getting into the logistics market seeking
          for parking space. The estimated value of the goods carried by the
          trucks on Indian roads is $ 200Bn.  Over 57,000 truck crashes and
          15,000 drivers are killed on road accidents every year.  Truck drivers
          often have to try several lots before they can find somewhere to park.
          The result is frustration, fatigue, improper sleep, robbery,
          insecurity over vehicle protection.
        </li>
        <li>
          Halt-O truck parking ecosystem reduces truck drivers’ job-related
          risks in several ways. It not only makes finding a parking space easy,
          but also dissuade robbers from stealing the freight.
        </li>
        <li class="hidden xl:block">
          Interconnected system of resources and services available for truck
          drivers to park their vehicles during long trips. This ecosystem
          includes truck stops, rest areas, private parking lots, and other
          parking facilities, as well as the technologies and services that
          support them, such as truck parking reservation systems, parking
          information management systems, and parking space prediction systems.
        </li>
      </div>
    </div>
    <li class="xl:hidden">
      Interconnected system of resources and services available for truck
      drivers to park their vehicles during long trips. This ecosystem includes
      truck stops, rest areas, private parking lots, and other parking
      facilities, as well as the technologies and services that support them,
      such as truck parking reservation systems, parking information management
      systems, and parking space prediction systems.
    </li>
    <li>
      One major challenge in the truck parking ecosystem is the shortage of safe
      and convenient parking options for truck drivers, which can lead to
      truckers parking on the side of the road, causing hazards for other
      drivers. To address this issue, Halt-O is offering advanced amenities such
      as showers, fuel, and food services, to improve the overall trucking
      experience.
    </li>
    <li>
      Additionally, the development of new technologies, such as real-time
      parking availability information systems, parking reservation systems, and
      predictive parking algorithms, to truckers/drivers to more efficiently
      plan their trips and find suitable parking options along the way. Also
      improving the overall management and utilization of truck parking
      resources, reducing congestion and improving safety for everyone on the
      road.
    </li>
    <li>
      Overall, the truck parking ecosystem is constantly evolving, driven by the
      need to meet the increasing demands of the trucking industry and improve
      the safety and convenience of truck drivers on the road.
    </li>
  </ul>
</div>
