<div class="relative mt-10 sm:mt-0 mb-10 sm:mb-24">
  <img
    src="../../../assets/header.jpg"
    alt="homepage header"
    class="w-screen h-full hidden sm:flex"
  />
  <img
    src="../../../assets/header_sm.jpg"
    alt="homepage header"
    class="w-screen h-full sm:hidden"
  />
  <div
    class="absolute flex flex-col items-center justify-center top-[50%] bg-black bg-opacity-15 transform translate-y-[-50%] w-full h-full text-white gap-4"
  >
    <p class="text-2xl sm:text-7xl font-bold">The Complete Parking</p>
    <p class="text-2xl sm:text-7xl font-bold -mt-3 sm:-mt-6">Ecosystem</p>
    <p class="text-base sm:text-3xl font-medium text-center">
      Say goodbye to parking headaches and hello to
      <span class="text-primary">Halt-O !</span>
    </p>
  </div>
</div>
