<div
  class="flex flex-col fixed sm:mt-4 w-full sm:w-4/5 z-20 duration-500 ease-in-out transition-transform translate-x-[-50%]"
  [ngClass]="{ 'translate-y-[-100%] sm:translate-y-[-150%]': !navbarVisible() }"
>
  <div
    class="flex items-center justify-between rounded-none sm:rounded-full px-4 py-3 sm:py-2 shadow-xl"
    [ngClass]="{
      'sm:bg-black sm:bg-opacity-60 sm:text-white': isScroll(),
      'bg-white text-black': !isScroll()
    }"
  >
    <a href="/" class="flex items-center gap-2">
      <img
        src="../../assets/logo.png"
        alt="halt-o logo"
        class="size-7 sm:size-10"
      />
      <h2 class="text-xl sm:text-2xl font-bold text-primary">HALT-O</h2>
    </a>

    <ul class="gap-8 font-medium hidden sm:flex">
      @for(page of pages();track page.path){
      <li>
        <a
          [href]="page.path"
          class="hover:text-primary"
          [ngClass]="{
            'text-primary': isActive(page.path)
          }"
          >{{ page.name }}</a
        >
      </li>
      }
    </ul>
    <div class="flex gap-3">
      <a href="https://www.halt-o.com/" target="_blank">
        <button
          class="flex bg-primary px-2 sm:px-4 sm:py-1 rounded-full text-white font-semibold items-center"
        >
          Login
          <svg
            class="size-4 sm:size-6"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7 17L17 7M17 7H8M17 7V16"
              stroke="#fff"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </a>
      <svg
        (click)="toggleMenu()"
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-menu-2 size-6 sm:size-12 flex sm:hidden"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#000000"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 6l16 0" />
        <path d="M4 12l16 0" />
        <path d="M4 18l16 0" />
      </svg>
    </div>
  </div>
  <div
    class="flex flex-col relative items-center sm:hidden mt-2 rounded-md shadow-md bg-white text-black menu-container"
    [ngClass]="{ open: menuOpen() }"
  >
    <img
      src="../../assets/shadow.png"
      alt="care shadow"
      class="absolute opacity-10 w-2/5 right-0 bottom-0"
    />
    <ul class="p-2 text-center w-full z-20">
      @for(page of pages();track page.path){
      <a
        [href]="page.path"
        class="hover:text-primary"
        [ngClass]="{
          'text-primary': isActive(page.path)
        }"
      >
        <li class="p-1 border-b-2">
          {{ page.name }}
        </li>
      </a>
      }
    </ul>
  </div>
</div>
<style>
  .menu-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }

  .menu-container.open {
    max-height: 500px;
  }
</style>
