<div class="flex flex-col items-center w-screen mb-16">
  <h3 class="text-6xl text-primary font-semibold">
    Meet the <span>team!</span>
  </h3>
  <p class="text-xl font-medium">
    <span>We are a team of creative thinkers and change seekers driven</span
    ><span>to make a positive impact personally and professionally.</span>
  </p>
</div>
<div class="flex flex-col gap-8 mb-24">
  <div class="grid grid-cols-5 justify-center">
    <div class="flex items-end justify-center">
      <img src="../../../assets/team/kalai.png" alt="" class="w-52" />
      <div
        class="absolute text-clip bg-white m-2 rounded-md flex flex-col items-center p-1"
      >
        <h5 class="text-xl font-semibold">Kalai Raj</h5>
        <p>HR & OPERATIONS</p>
      </div>
    </div>
    <div class="flex items-end justify-center">
      <img src="../../../assets/team/Jagadeesh.png" alt="" class="w-52" />
      <div
        class="absolute text-clip bg-white m-2 rounded-md flex flex-col items-center p-1"
      >
        <h5 class="text-xl font-semibold">Jagadeesh</h5>
        <p>VENDOR MANAGEMENT</p>
      </div>
    </div>
    <div class="flex items-end justify-center">
      <img src="../../../assets/team/Bharath_VP.png" alt="" class="w-52" />
      <div
        class="absolute text-clip bg-white m-2 rounded-md flex flex-col items-center p-1"
      >
        <h5 class="text-xl font-semibold">Bharath</h5>
        <p>PROCUREMENT</p>
      </div>
    </div>
    <div class="flex items-end justify-center">
      <img src="../../../assets/team/aravind rj.png" alt="" class="w-52" />
      <div
        class="absolute text-clip bg-white m-2 rounded-md flex flex-col items-center p-1"
      >
        <h5 class="text-xl font-semibold">Aravind Jawahar</h5>
        <p>LOGISTICS</p>
      </div>
    </div>
    <div class="flex items-end justify-center">
      <img src="../../../assets/team/Aathav_cha.png" alt="" class="w-52" />
      <div
        class="absolute text-clip bg-white m-2 rounded-md flex flex-col items-center p-1"
      >
        <h5 class="text-xl font-semibold">Aathav Chander</h5>
        <p>SALES</p>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-3 justify-center">
    <div class="flex items-end justify-center">
      <img src="../../../assets/team/Kamaal.png" alt="" class="w-52" />
      <div
        class="absolute text-clip bg-white m-2 rounded-md flex flex-col items-center p-1"
      >
        <h5 class="text-xl font-semibold">Mohammed Kamaal</h5>
        <p>LAND CONVERSION</p>
      </div>
    </div>
    <div class="flex items-end justify-center">
      <img src="../../../assets/team/Manikandan.png" alt="" class="w-52" />
      <div
        class="absolute text-clip bg-white m-2 rounded-md flex flex-col items-center p-1"
      >
        <h5 class="text-xl font-semibold">ManiKandan</h5>
        <p>LEGAL COMPLIANCE</p>
      </div>
    </div>
    <div class="flex items-end justify-center">
      <img src="../../../assets/team/Jaishankar.png" alt="" class="w-52" />
      <div
        class="absolute text-clip bg-white m-2 rounded-md flex flex-col items-center p-1"
      >
        <h5 class="text-xl font-semibold">Jai Shankar</h5>
        <p class="text-xs">SUPPLY CHAIN MANAGEMENT</p>
      </div>
    </div>
  </div>
</div>
