<div class="flex flex-col items-center">
  <h3 class="text-6xl text-primary font-semibold">
    Meet the <span>team!</span>
  </h3>
  <p class="text-xl">
    <span>We are a team of creative thinkers and change seekers driven</span
    ><span>to make a positive impact personally and professionally.</span>
  </p>
</div>
<div class="flex flex-col gap-3">
  <div class="flex justify-around">
    <div class="bg-secondary size-52"></div>
    <div class="bg-secondary size-52"></div>
    <div class="bg-secondary size-52"></div>
    <div class="bg-secondary size-52"></div>
    <div class="bg-secondary size-52"></div>
  </div>

  <div class="flex justify-around">
    <div class="bg-secondary size-52"></div>
    <div class="bg-secondary size-52"></div>
    <div class="bg-secondary size-52"></div>
    <div class="bg-secondary size-52"></div>
    <div class="bg-secondary size-52"></div>
  </div>
</div>
