<div
  class="flex justify-center items-center gap-2 sm:gap-12 text-center w-full mb-10 sm:mb-24"
>
  <div>
    <p class="text-3xl sm:text-7xl text-primary">10K+</p>
    <p class="text-base sm:text-3xl">Satisfied Clients</p>
  </div>
  <div class="border-x-4 px-2 sm:px-6">
    <p class="text-3xl sm:text-7xl text-primary">30+</p>
    <p class="text-base sm:text-3xl">Projects Completed</p>
  </div>

  <div>
    <p class="text-3xl sm:text-7xl text-primary">100+</p>
    <p class="text-base sm:text-3xl">Facilities Operating</p>
  </div>
</div>
